.storybook-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 100%;
  padding: 3px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.storybook-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.storybook-gradient {
  width: 200%;
  height: 200%;
  border: 1px solid black;

  /* background: linear-gradient(126.95deg, #000000 0%, #f9ffb1 100%),
    radial-gradient(91.23% 100% at 50% 100%, #be002e 0%, #6100ff 100%),
    linear-gradient(307.27deg, #1dac92 0.37%, #2800c6 100%),
    radial-gradient(
      100% 140% at 100% 0%,
      #eaff6b 0%,
      #006c7a 57.29%,
      #2200aa 100%
    );
  background-blend-mode: overlay, difference, difference, normal; */
}

.test {
  background-image: radial-gradient(
    closest-side,
    rgb(255, 243, 18),
    rgb(247, 120, 28, 0.5)
  );

  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px hsl(37 91% 55%/0.4),
    0 4px 6px -4px hwb(37 14% 4% / 0.4);
}
